body {
  padding: 10px;
  margin: 0;
  background-color: #fefefe;
  color: #333;
  font: 12px / normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
    "source-code-pro", monospace;
  visibility: hidden;
}

#editor {
  font-size: 15px;
  width: 60%;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
}

#editor {
  visibility: hidden;
}

#editor.visible {
  visibility: visible;
}

#toprack {
  visibility: hidden;
}

#toprack.visible {
  visibility: visible;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 8px;

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 192px;

    label {
      margin: 6px;
    }
  }
}


.rack {
  display: flex;
  justify-content: space-between;
}

#views {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 0;

  .fieldset {
    margin: 8px;
  }

  .header {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 32px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 192px;

    label {
      margin: 6px;
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .fieldset {
    margin: 8px;

    .item {
      margin-bottom: 12px;
    }
  }
}
